<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="clusterclient" type="Amazon.ElastiCacheCluster.ClusterConfigSettings, Amazon.ElastiCacheCluster"/>
  </configSections>
  <clusterclient>
    <endpoint hostname="clusterclient.4mpstz.cfg.use1.cache.amazonaws.com" port="11211"/>
    <node nodeTries="5" nodeDelay="1000"/>
    <poller intervalDelay="60000"/>
  </clusterclient>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
